* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}


div.what {
    background-color: rgb(0, 0, 0);
    height: 100vh;
    width: 100%;
    left: 0px;
    position: absolute;
}

div.what-c {
    position: absolute;
    left: 10%;
    text-align: left;
    width: 40vw;
    top: 50%;
    transform: translate(0%, -50%);
}

div.img {
    position: absolute;
    left: 60%;
    text-align: left;
    width: 40vw;
    top: 50%;
    transform: translate(0%, -50%);
}

.aquarial:hover {
    text-decoration: none;
    color: white;
    border-bottom: 3px solid white;
}

.aquarial {
    text-decoration: none;
    color: white;
    border-bottom: 0px solid white;
}

h1 {
    font-size: 3em;
    color: white;
    margin-block-start: 0em;
    margin-block-end: 0.1em;
}

body {
    font-family: 'Alata', sans-serif;
}

h3 {
    font-size: 1.2em
}

p {
    font-size: 1.3em;
    color: white;
    margin-block-start: 0.1em;
    margin-block-end: 0.1em;
}

.backhome {
    border-radius: 3em;
    transition-duration: .3s;
    background-color: white;
    color: black;
    border-color: rgba(0, 0, 0, 1);
    border-width: 4px;
    color: black;
    padding: 12px 28px;
    font-family: 'Alata', sans-serif;
    cursor: pointer;
    margin-block-start: 1.3em;
    left: 1em;
}

.backhome:hover {
    border-color: rgba(0, 0, 0, 0.65);
    border-width: 4px;
    color: black;
}

@media only screen and (max-width: 1000px) {
    div.what-c {
      width: 70vw;
    }
    
    div.img {
        position: absolute;
        left: 50%;
        text-align: left;
        top: 10%;
        transform: translate(0%, -50%);
    }
}
